[submodule "eigen"]
	path = eigen
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "googletest"]
	path = src/thundersvm/cpp/test/googletest
	url = https://github.com/google/googletest.git
